* {
  box-sizing: border-box;
}
body {
  background-color: #f5f7d3;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
}

header {
  background-color: #3f2300;
  color: white;
  display: flex;
}

main {
  flex: 1;
}

li {
  list-style: none;
}

label {
  width: 240px;
  display: inline-block;
  text-align: left;
}

button {
  margin-top: 20px;
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 15px;
  padding: 0 18px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  background-color: #fff;
}

button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

.header-grid {
  display: grid;
  left: 10px;
  margin-left: 20px;
}

.header-tabs a {
  top: 0;
  left: 0;
  text-decoration: none;
  color: white;
  float: left;
  padding: 10px;
  font-size: 20px;
}

.web-name {
  top: 0;
  left: 0;
  display: inline;
  color: #3f2300;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  background-color: #f5f7d3;
  box-shadow: 5px 5px #dadcb8;
  font-size: 35px;
}

.post-container {
  display: grid;
  top: 180px;
  margin: 0 100px 0 100px;
}

.post-title {
  background-color: #3f2300;
  color: white;
  padding: 5px 15px 5px;
}

.post-list {
  margin: 0;
  padding: 0;
}

.footer-elm {
  text-align: center;
}

.forms {
  display: block;
  text-align: center;
  margin-top: 100px;
  font-size: 15px;
}

.new-post {
  text-align: center;
  margin-top: 100px;
}

.post-header {
  text-align: center;
}

.edit-link {
  text-decoration: none;
  text-align: center;
  color: #422800;
}

.comment-form {
  text-align: center;
}

.comments {
  margin: 15px 0 0 15px;
}

.text {
  display: inline-block;
  padding-top: 10px;
  padding: 2px;
  background-color: #dadcb8;
}

.meta {
  padding-bottom: 15px;
}
